# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries used by Data Scientists
- List some of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Julia
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. scikit-learn
4. keras
5. ggplot2
6. leaflet

|Data Science Tools|
--------------------
|Jupyter Notebook  |
|Jupyter Lap       |
|RStudio           |
|Apache Hadoop     |  
|TensorFlow        |
|ApacheSpark       |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Sepideh Zolfi